[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
pyaudio = "*"
deep-translator = "*"
faster-whisper = "*"
djangorestframework = "*"
daphne = "*"
channels = "*"
decouple = "*"

[dev-packages]

[requires]
python_version = "3.12"
